<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1><%= @bill_detail.id ? 'Edit' : 'Generate' %> Bill</h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i>Home Page</a></li>
          <li class="active"><%= @bill_detail.id ? 'Edit' : 'Generate' %> Bill</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-header">
              <div class="box-header with-border">
                <h3 class="box-title">Order Information</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <%= form_for @bill_detail do |f| %>
                <% if @bill_detail.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@bill_detail.errors.count, 'error') %> prohibited this item from being saved:</h2>
                    <ul>
                      <% @bill_detail.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="box-body">
                  <%= f.hidden_field :order_id, class: 'form-control', required: true %>
                  <div class="form-group col-md-6">
                  <%= f.label :delivery_on, 'Delivery Date' %>
                  <%= text_field_tag :delivey_on, @order.delivery_on, class: 'form-control', required: true, readonly: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Client Name</label>
                    <%= text_field_tag :client_name, @order.client.name, class: 'form-control', required: true, readonly: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Mobile No</label>
                    <%= text_field_tag :mobile_no, @order.client.mobile_no, class: 'form-control', required: true, readonly: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Vehicle Type</label>
                    <%= text_field_tag :vehicle_name, @vehicle_detail.item.vehicle_type.name , class: 'form-control', required: true, readonly: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Vehicle Chassis No</label>
                    <%= text_field_tag :engine_no, @vehicle_detail.chassis_no , class: 'form-control', required: true, readonly: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Vehicle Engine No</label>
                    <%= text_field_tag :engine_no, @vehicle_detail.engine_no , class: 'form-control', required: true, readonly: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Base Price</label>
                    <%= f.number_field :base_price, id: 'base_price', min: 0, class: 'form-control calculate', required: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>GST Price (5%)</label>
                    <%= f.number_field :gst_price, id: 'gst_price', min: 0, class: 'form-control', required: true, readonly: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Subsidy Price</label>
                    <%= f.number_field :subsidy_price, id:'subsidy_price', min: 0, class: 'form-control calculate', required: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Total Price (Base + GST - Subsidy)</label>
                    <%= f.number_field :total_price, class: 'form-control', min: 0, id: 'total_price', required: true, readonly: true %>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <%= f.submit "#{@bill_detail.id ? 'Update Bill' : 'Generate Bill'}", class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%= render 'layouts/footer' %>
    <!-- ./wrapper -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $(document).ready(function () {
        $.widget.bridge('uibutton', $.ui.button);
        $('.calculate').change(function() {
          $('#gst_price').val(parseFloat($('#base_price').val()) * 0.05)
          var gst_price = parseFloat($('#gst_price').val()).toFixed(2);
          var base_price = parseFloat($('#base_price').val()).toFixed(2);
          var subsidy_price = parseFloat($('#subsidy_price').val()).toFixed(2);
          if (isNaN(subsidy_price)){
            subsidy_price = 0
          }
          var totalValue = parseFloat(gst_price) + parseFloat(base_price) - parseFloat(subsidy_price);
          $('#total_price').val(totalValue);
        });
      });
    </script>
  </div>
</body>
