<p id="notice"><%= notice %></p>

<h1>Bill Details</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_details.each do |bill_detail| %>
      <tr>
        <td><%= link_to 'Show', bill_detail %></td>
        <td><%= link_to 'Edit', edit_bill_detail_path(bill_detail) %></td>
        <td><%= link_to 'Destroy', bill_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill Detail', new_bill_detail_path %>
