
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <%= render 'layouts/header' %>
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1>
      All Bill Details
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-home"></i>
          Home Page</a>
      </li>
      <li class="active">All Bill Details</li>
    </ol>
  </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <!-- Main data table -->
          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Invoice No</th>
                    <th>Delivery Date</th>
                    <th>Client Name</th>
                    <th>Chassis No.</th>
                    <th>Engine No.</th>
                    <th>Base Price (Rs.)</th>
                    <th>GST Price (Rs.)</th>
                    <th>Subsidy Price (Rs.)</th>
                    <th>Total Price (Rs.)</th>
                    <th>
                      <i class="ion ion-edit"></i>
                    </th>
                    <th>
                      <i class="ion ion-trash-b"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                <% @bill_details.each do |bill_detail| %>
                  <tr>
                    <td><%= bill_detail.invoice_no %></td>
                    <td><%= bill_detail.order.delivery_on %></td>
                    <td><%= bill_detail.order.client.name %></td>
                    <td><%= bill_detail.order.vehicle_detail.chassis_no %></td>
                    <td><%= bill_detail.order.vehicle_detail.engine_no %></td>
                    <td><%= sprintf("%0.02f", bill_detail.base_price.to_f) %></td>
                    <td><%= sprintf("%0.02f", bill_detail.gst_price.to_f)%></td>
                    <td><%= sprintf("%0.02f", bill_detail.subsidy_price.to_f) %></td>
                    <td><%= sprintf("%0.02f", bill_detail.total_price.to_f) %></td>
                    
                    <td><%= link_to "", edit_bill_detail_path(bill_detail), { class: "ion ion-edit"} %></td>
                    <td>
                      <%= link_to bill_detail, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="ion ion-trash-b"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</div>
<script>
  $(function () {
    $("#example1").DataTable({
      "pageLength": 50, 
      "order": [[ 0, "desc" ]]
    });
  });
</script>
</body>

