<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
      <h1>
        All Client Details
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-home"></i>
            Home Page</a>
        </li>
        <li class="active">All Clients</li>
      </ol>
    </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>E-mail</th>
                      <th>Phone</th>
                      <th>
                        <i class="ion ion-edit"></i>
                      </th>
                      <th>
                        <i class="ion ion-trash-b"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @clients.each do |client| %>
                    <tr>
                      <td><%= client.name %></td>
                      <td><%= client.email %></td>
                      <td><%= client.phone %></td>
                      <td><%= link_to "", edit_client_path(client), { class: "ion ion-edit"} %></td>
                      <td>
                        <%= link_to client, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="ion ion-trash-b"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable({
        "pageLength": 50, 
      });
    });
  </script>
</body>
