
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <%= render 'layouts/header' %>
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1>
      All Order Details
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-home"></i>
          Home Page</a>
      </li>
      <li class="active">All Orders</li>
    </ol>
  </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <!-- Main data table -->
          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Delivery Date</th>
                    <th>Client Name</th>
                    <th>Vehicle Type</th>
                    <th>Chassis No</th>
                    <th>Engine No</th>
                    <th>
                      <i class="ion ion-edit"></i>
                    </th>
                    <th>
                      <i class="ion ion-trash-b"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                <% @orders.each do |order| %>
                  <tr>
                    <td><%= order.delivery_on %></td>
                    <td><%= "#{order.client.name} (#{order.client.email})" %></td>
                    <td><%= order.vehicle_detail.item.vehicle_type.name %></td>
                    <td><%= order.vehicle_detail.chassis_no %></td>
                    <td><%= order.vehicle_detail.engine_no %></td>
                    <td><%= link_to "", edit_order_path(order), { class: "ion ion-edit"} %></td>
                    <td>
                      <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="ion ion-trash-b"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</div>
<script>
  $(function () {
    $("#example1").DataTable({
      "pageLength": 50, 
    });
  });
</script>
</body>

