<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Add Vehicle Detail
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Add Vehicle Detail</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-header">
              <div class="box-header with-border">
                <h3 class="box-title">Basic Information</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <%= form_for @vehicle_detail do |f| %>
              <% if @vehicle_detail.errors.any? %>
              <div id="error_explanation">
              <h2><%= pluralize(vehicle_detail.errors.count, "error") %> prohibited this vehicle detail from being saved:</h2>
                <ul>
                  <% @vehicle_detail.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
              <div class="box-body">
                <div class="form-group">
                  <label>Vehicle Received In Assignment</label>
                  <%= f.select(:item_id, @items.map { |item| [ "#{item.vehicle_type.name} (#{item.received_on.strftime("%Y-%m-%d")})", item.id ]}, {}, { :class => 'form-control' })%>
                </div>
                <div class="form-group">
                  <label>Chassie No.</label>
                  <%= f.text_field :chassie_no, class: "form-control", placeholder: "Enter Chassie No.", required: true  %>
                </div>
                <div class="form-group">
                  <label>Engine No.</label>
                  <%= f.text_field :engine_no, class: "form-control", placeholder: "Enter Engine No.", required: true  %>
                </div>

                <div class="form-group">
                  <label>Controller No.</label>
                  <%= f.text_field :controller_no, class: "form-control", placeholder: "Enter Controller No.", required: true  %>
                </div>

                <div class="form-group">
                  <label>Motor No.</label>
                  <%= f.text_field :motor_no, class: "form-control", placeholder: "Enter Motor No.", required: true  %>
                </div>

                <div class="form-group">
                  <label>Charger No.</label>
                  <%= f.text_field :charger_no, class: "form-control", placeholder: "Enter Charger No.", required: true  %>
                </div>
                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <%= f.submit "Submit", class: "btn btn-primary"%>
              </div>
              <% end %>
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b>
        0.1
      </div>
      Content available under
      <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>.
    </footer>
    <!-- ./wrapper -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
  </body>
