<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
      <h1>
        All Vehicle Details
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-home"></i>
            Home Page</a>
        </li>
        <li class="active">All Vehicle Details</li>
      </ol>
    </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                  <th>Vehicle Type</th>
                  <th>Vehicle Received On</th>
                  <th>Chassis No</th>
                  <th>Engine No</th>
                  <th>Controller No</th>
                  <th>Motor No</th>
                  <th>Color</th>
                  <th>
                    <i class="ion ion-edit"></i>
                  </th>
                  <th>
                    <i class="ion ion-trash-b"></i>
                  </th>
                </tr>
                  </thead>
                  <tbody>
                  <% @vehicle_details.each do |vehicle_detail| %>
                    <tr>
                      <td><%= vehicle_detail.item.vehicle_type.name %></td>
                      <td><%= vehicle_detail.item.received_on.strftime('%Y-%m-%d') %></td>
                      <td><%= vehicle_detail.chassis_no %></td>
                      <td><%= vehicle_detail.engine_no %></td>
                      <td><%= vehicle_detail.controller_no %></td>
                      <td><%= vehicle_detail.motor_no %></td>
                      <td><%= vehicle_detail.color.name %></td>
                      <td><%= link_to "", edit_vehicle_detail_path(vehicle_detail), { class: "ion ion-edit"} %></td>
                      <td>
                        <%= link_to vehicle_detail, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="ion ion-trash-b"></i>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable({
        "pageLength": 50, 
      });
    });
  </script>
</body>
