<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Edit Consignment Information
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Edit Consignment</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-header">
              <div class="box-header with-border">
                <h3 class="box-title">Consignment Information</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <%= form_for @item do |f| %>
              <% if @item.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@item.errors.count, "error") %>
                  prohibited this item from being saved:</h2>
                <ul>
                  <% @item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
              <div class="box-body">
                <div class="form-group">
                  <label>Vehicle Type (Optima, etc.)</label>
                  <%= f.select(:vehicle_type_id, @vehicle_types.map { |vehicle_type| [ vehicle_type.name, vehicle_type.id ]}, {}, { :class => 'form-control' })%>
                </div>
                <div class="field">
                  <%= f.label :received_on %>
                  <%= f.text_field :received_on, class: 'form-control datepicker', required: true, readonly: true %>
                </div>
                <div class="form-group">
                  <label>Quantity</label>
                  <%= f.number_field :quantity, class: "form-control", placeholder: "Enter Quantity", required: true  %>
                </div>
                <div class="form-group">
                  <label>Description (If any)</label>
                  <%= f.text_area :description, class: "form-control", rows: "3", laceholder: "Enter Description"%>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <%= f.submit "Submit", class: "btn btn-primary"%>
              </div>
              <% end %>
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%= render 'layouts/footer' %>
    <!-- ./wrapper -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
    $(document).ready(function () {
      $.widget.bridge('uibutton', $.ui.button);
      $('.datepicker').datepicker({format: 'yyyy/mm/dd'});
    });
    </script>
  </body>
